.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

    .row {
        display: inline-flex;
        flex-wrap: nowrap;
    }

    .row > * {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        font-size: 24px;
        text-align: center;

        & > img {
            width: 30px;
            height: 30px;
        }
    }

    .empty {
        background-color: #2a2a2a;
    }

    .wall {
        background: linear-gradient(315deg, transparent 75%, #d45d55 0)-15px 0,
        linear-gradient(45deg, transparent 75%, #d45d55 0)-15px 0,
        linear-gradient(135deg, #a7332b 50%, transparent 0) 0 0,
        linear-gradient(45deg, #6a201b 50%, #561a16 0) 0 0 #561a16;
        background-size: 30px 30px;
    }
    
    .player {
        background-color: blue;
    }

    .box {
        background-color: rgb(127, 134, 108);
    }

    .goal {
        background: radial-gradient(circle, rgb(192, 77, 10) 0%, rgb(255, 165, 113) 14%, #2a2a2a 16%);
    }
}